vti_encoding:SR|utf8-nl
vti_restartmanual:IX|0
vti_defaultlanguage:SR|en-us
vti_webservertype:SR|msiis
vti_usagebymonth:UX|200 4039
vti_usagevisitsbyweek:UX|4 16 181 58 89
vti_timecreated:TR|13 Oct 2002 21:58:25 -0000
vti_oldestcompatibleversion:SR|2.0.0.0
vti_usagevisitsbymonth:UX|20 332
vti_usagelastupdated:TX|17 Nov 2002 04:59:59 -0000
vti_usagelastformat:SX|1 3 2 G 
vti_publishmetainfokeys:VR|vti_assignedto vti_approvallevel vti_categories vti_description
vti_textindexood:IR|0
vti_navbuttonnextlabel:SR|Next
vti_usagevisitsbyday:UX|0 0 0 0 2 2 0 1
vti_approvallevels:VR|Approved Denied Pending\\ Review
vti_hassearchbot:BR|false
vti_usagebyweek:UX|63 24 1497 1876 761
vti_usagebyday:UX|0 0 0 0 6 57 0 5
vti_usagehitsbyweek:UX|405 218 10973 8427 3176
vti_usagehitsbyday:UX|0 0 0 0 35 370 0 28
vti_showhiddenpages:IR|1
vti_featurelist:VX|vti_ACCreateNewUsers vti_ACChangePassword vti_ACNoUserGroup vti_ACCreateNewGroups vti_ACModifyGroups vti_ACIPAddresses vti_ServerEmailTransport vti_ServerIndexServer
vti_categories:VR|Travel Expense\\ Report Business Competition Goals/Objectives Ideas Miscellaneous Waiting VIP In\\ Process Planning Schedule
vti_usagelastlog:SX|C:\\WINNT\\System32\\LogFiles\\w3svc1\\ex021116.log
vti_approvalapproved:SR|Approved
vti_approvaldenied:SR|Denied
vti_defaultcharset:SR|windows-1252
vti_autorecalc:IX|1
vti_navbuttonuplabel:SR|Up
vti_disableautoimgsizeexts:SX|.asp
vti_extenderversion:SR|5.0.2.2623
vti_ignorekeyboard:IR|0
vti_navbuttonprevlabel:SR|Back
vti_createpostinfo:BX|false
vti_usageserverlastupdated:TX|17 Nov 2002 04:59:59 -0000
vti_dependenciesood:IR|1
vti_navbuttonhomelabel:SR|Home
vti_usagefirstdata:TX|13 Oct 2002 21:58:25 -0000
vti_usagehitsbymonth:UX|1434 21819
vti_usagelastmarker:SX|7212 7333 12:52:55 127.0.0.1 GET /ad/lytripod.terra.pe/construccion;pos=1;ga=pe_serv;niv=
