<style>

a:link 			{	text-decoration:none }
a:visited		{	text-decoration:none} 
a:active 		{	text-decoration:none}
a:hover 		{	text-decoration:underline}

*            	{ font-family: Verdana; font-size: 10pt; color: #000000 }

</stye>